version: '3.8'

services:
  db:
    image: postgres:15
    container_name: pg-dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: "LavaDev"
      POSTGRES_PASSWORD: "Hostel.91"
      POSTGRES_DB: "api_converter_dev"
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
